<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/assets/icons/icon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        {{>header}}
        
        <main>
            <h2>Help Page</h2>
            <p>Welcome to the Weather App Help Page! If you have any questions or issues, please refer to the information below:</p>

            <section>
                <h3>Frequently Asked Questions (FAQ)</h3>
                <ul>
                    <li>Q: How do I search for the weather of a specific location?</li>
                    <li>A: Simply enter the city name in the search bar and click the "Search" button.</li>
                </ul>
            </section>

            <section>
                <h3>Contact Us</h3>
                <p>If you need further assistance, feel free to contact our support team at support@weatherapp.com.</p>
            </section>
        </main>

        {{>footer}}
    </div>
</body>
</html>
